<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    Hello From the html/ejs <br/>
    <%= 2+2 %> <br/>
    <%= text %>
  </body>
</html>
